button-1 {
  color : red !important;
}
.Select-placeholder {
  background: green !important;
  overflow-y: auto;
  max-height: 100px;
  width: 350px
}
.Select-control {
  background: blue !important; 
}
