button-1 {
  color : green !important;
}
/*drop-down-menu {
  width: 350px;
  max-height: 100px;
  overflow-y: auto;
}*/
.Select-placeholder {
  background: red !important;
  overflow-y: scroll !important;
  height: 50px !important;
  max-height: 100px !important;
  width: 350px !important;
}
.Select-control {
  background: blue !important; 
  overflow-y: scroll !important;
  height: 50px !important;
  max-height: 100px !important;
  width: 350px !important;
}
.Select.has-value.is-clearable.is-searchable.Select--multi {
  background: yellow !important; 
  overflow-y: scroll !important;
  height: 50px !important;
  max-height: 100px !important;
  width: 400px !important;
}
