.Select-placeholder {
  height: 50px !important;
  width: 350px !important;
}
.Select-multi-value-wrapper {
  overflow-y: scroll !important;
  min-height: 50px !important;
  height: auto !important;
  max-height: 200px !important;
  width: 350px !important;
}
.Select-control {
  height: 50px;
  width: 350px !important;
}
.Select-menu-outer {
  width: 367px;
}
